h1.atk-margin-bottom--l.atk-align-center Login Form
.atk-row
  .atk-col-5.atk-move-center
    .atk-box.atk-shape-rounded-top
      h2.atk-margin-bottom--s Welcome back!
      form
        .atk-margin-bottom--xs
          input.atk-expand(type='email', placeholder='Email address')
        .atk-margin-bottom--xs
          input.atk-expand(type='password', placeholder='Password')
        .atk-cells.atk-margin-bottom--s
          .atk-cell
            input#checkbox(type='checkbox')
            label.atk-margin-left--xs(for='checkbox') Remember me
          .atk-cell.atk-align-right
            a(href='#') Forgot password?
        button.atk-button-spacing--xl.atk-expand.atk-text-caps.atk-swatch-blue Log In
    .atk-box.atk-shape-rounded-bottom.atk-border-top--none.atk-swatch-gray.atk-padding--s.atk-align-center.atk-comment
      | Don't have an account?
      a.atk-text-semibold.atk-margin-left--xs(href='#')
        | Sign up
        span.icon-angle-right
