
<h1 class="atk-margin-bottom--l atk-align-center">Login Form</h1>
<div class="atk-row">
  <div class="atk-col-5 atk-move-center">
    <div class="atk-box atk-shape-rounded-top">
      <h2 class="atk-margin-bottom--s">Welcome back!</h2>
      <form>
        <div class="atk-margin-bottom--xs">
          <input type="email" placeholder="Email address" class="atk-expand"/>
        </div>
        <div class="atk-margin-bottom--xs">
          <input type="password" placeholder="Password" class="atk-expand"/>
        </div>
        <div class="atk-cells atk-margin-bottom--s">
          <div class="atk-cell">
            <input id="checkbox" type="checkbox"/>
            <label for="checkbox" class="atk-margin-left--xs">Remember me</label>
          </div>
          <div class="atk-cell atk-align-right"><a href="#">Forgot password?</a></div>
        </div>
        <button class="atk-button-spacing--xl atk-expand atk-text-caps atk-swatch-blue">Log In</button>
      </form>
    </div>
    <div class="atk-box atk-shape-rounded-bottom atk-border-top--none atk-swatch-gray atk-padding--s atk-align-center atk-comment">Don't have an account?<a href="#" class="atk-text-semibold atk-margin-left--xs">Sign up<span class="icon-angle-right"></span></a></div>
  </div>
</div>