h1.atk-margin-bottom--l.atk-align-center Thumbnails with Overlay
.atk-row.atk-grid-spacing--xs.atk-margin-bottom
  .atk-col-4
    a.atk-relative.atk-move-left.atk-swatch-ink.atk-shape-rounded.atk-overflow(href='#')
      span.atk-filler
        span.atk-cells.atk-filler.atk-align-bottom
          span.atk-cell.atk-padding--s.atk-align-center
            span.atk-block.atk-text-bold-caps Iceland
            span.atk-text-size--s 19 Photos
      img.atk-block(src='../temp/iceland.jpg', width='100%', style='opacity:0.5', title='Iceland')
  .atk-col-4
    a.atk-relative.atk-move-left.atk-swatch-ink.atk-shape-rounded.atk-overflow(href='#')
      span.atk-filler
        span.atk-cells.atk-filler.atk-align-bottom
          span.atk-cell.atk-padding--s.atk-align-center
            span.atk-block.atk-text-bold-caps Latvia
            span.atk-text-size--s 23 Photos
      img.atk-block(src='../temp/latvia.jpg', width='100%', style='opacity:0.5', title='Latvia')
  .atk-col-4
    a.atk-relative.atk-move-left.atk-swatch-ink.atk-shape-rounded.atk-overflow(href='#')
      span.atk-filler
        span.atk-cells.atk-filler.atk-align-bottom
          span.atk-cell.atk-padding--s.atk-align-center
            span.atk-block.atk-text-bold-caps Croatia
            span.atk-text-size--s 7 Photos
      img.atk-block(src='../temp/croatia.jpg', width='100%', style='opacity:0.5', title='Croatia')
  .atk-col-4
    a.atk-relative.atk-move-left.atk-swatch-ink.atk-shape-rounded.atk-overflow(href='#')
      span.atk-filler
        span.atk-cells.atk-filler.atk-align-bottom
          span.atk-cell.atk-padding--s.atk-align-center
            span.atk-block.atk-text-bold-caps Malaysia
            span.atk-text-size--s 38 Photos
      img.atk-block(src='../temp/malaysia.jpg', width='100%', style='opacity:0.5', title='Malaysia')
  .atk-col-4
    a.atk-relative.atk-move-left.atk-swatch-ink.atk-shape-rounded.atk-overflow(href='#')
      span.atk-filler
        span.atk-cells.atk-filler.atk-align-bottom
          span.atk-cell.atk-padding--s.atk-align-center
            span.atk-block.atk-text-bold-caps Cyprus
            span.atk-text-size--s 17 Photos
      img.atk-block(src='../temp/cyprus.jpg', width='100%', style='opacity:0.5', title='Cyprus')
  .atk-col-4
    a.atk-relative.atk-move-left.atk-swatch-ink.atk-shape-rounded.atk-overflow(href='#')
      span.atk-filler
        span.atk-cells.atk-filler.atk-align-bottom
          span.atk-cell.atk-padding--s.atk-align-center
            span.atk-block.atk-text-bold-caps Canada
            span.atk-text-size--s 29 Photos
      img.atk-block(src='../temp/canada.jpg', width='100%', style='opacity:0.5', title='Canada')
.atk-comment.atk-align-center
  | Photos by 
  a.atk-text-semibold(href='http://www.mayack.com') Mayack
